* {
font-family: sans-serif, serif, arial;
font-size: 16px;
text-align: justify;
/*background-color: rgb(225,225,225);
text-align: justify;
min-width: 40em;
max-width: 75em;*/
}

body {
width: 75%;
}

a {
text-decoration: none;
font-weight: bold;
}

a:link {
color: CadetBlue;
}

a:visited {
color:CadetBlue;
}

a:hover {
color: DarkSlateGray;
}

#menu li {
display: inline;
}

fieldset {
width: 350px;
border: 1px solid #dcdcdc;
border-radius: 10px;
padding: 20px;
text-align: left;
}

legend {
background-color: #efefef;
border: 1px solid #dcdcdc;
border-radius: 10px;
padding: 10px 20px;
text-align: left;
text-transform: uppercase;
}
